.clockcontainer {
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image: url("clock.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}

#hour {
    position: absolute;
    background-color: black;
    height: 25%;
    width: 1.5%;
    top: 25%;
    left: 49%;
    border-radius: 10px;
    transform-origin: bottom;
}

#minute {
    position: absolute;
    background-color: black;
    height: 37%;
    width: 1.5%;
    top: 13%;
    left: 49%;
    border-radius: 10px;
    opacity: 0.9;
    transform-origin: bottom; 
}

#second {
    position: absolute;
    background-color: black;
    height: 41%;
    width: 1.5%;
    top: 9%;
    left: 49%;
    border-radius: 10px;
    opacity: 0.8;
    transform-origin: bottom;
}